@font-face {
    font-family: 'LTInstitute';
    src: url('fonts/LTInstitute-1.otf') format('opentype'); /* Specify the format as 'opentype' */
    font-weight: normal;
    font-style: normal;
}
.zen-kaku-gothic-new-light {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.zen-kaku-gothic-new-regular {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.zen-kaku-gothic-new-medium {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.zen-kaku-gothic-new-bold {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.zen-kaku-gothic-new-black {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 1000;
    font-style: normal;
}

body {
    width: 450px; 
    height: 300px; 
    margin: 0; 
    background-color: #C6D9E6; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://i.pinimg.com/originals/d5/62/93/d562931e7d93e7162d1af2c955d5f283.jpg'); 
    background-size: cover;
    opacity: 0.5; /* 50% transparency */
    z-index: 1;
}
.logo {
    margin-right: 20px;                     /* Space between logo and tabs */
    cursor: pointer;                        /* Cursor style for logo */
    width: 28px;
    height: 28px;
    z-index: 4;
}
.content {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
    /* padding: 20px; */
}
h1 {
    font-size: 48px; 
    text-align: center;
    margin-top: 0; 
    color: #00477A; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.tabs {
    display: flex; 
    justify-content: center;
    background-color: white;
    padding: 0;
    width: 100%; 
    position: relative; 
}
.tab {
    font-family: 'Zen Kaku Gothic New';
    font-weight: 1000;
    padding: 5px 15px; 
    cursor:pointer; 
    background-color: transparent; 
    color: gray;
    transition: background-color 0.4s ease, color 0.4s ease;
    margin-right: 20px; 
    margin-left: 20px;
    display: flex;
    justify-content: flex-start; /* Center icon and text horizontally */
    align-items: center;
}
.tab i {
    font-size:12px;
    color: gray;
    margin-right: 15px;
}
.tab-text {
    /*margin-left: 5px;  Space between icon and text */
    font-size: 12px;                   /* Set font size for tab text */
    color: #00477A;                       /* Default text color */
    display: none;                     /* Hide by default */
}
.tab.active i {
    color: #00477A; /* Change icon color when active */
}
.tab.active 
{
    background-color: #C6D9E6; 
    /* margin-top: 10px;  */
    border: 2px #C6D9E6;
    color: #00477A; /* The color of the active tab's text */
    border-radius: 12px; /* Rounded corners for the active tab */
    width: 120px; /* Fixed width for the active tab */
    text-align: center; /* Centers the text inside the tab */
}
.tab.active .tab-text {
    display: inline;                   /* Show text for active tab */
}
.chat-box {
    display: none;                          /*  Hide by default */ 
    position: absolute;                     /* Position relative to logo */
    top: 30px;                              /* Adjust to position below logo */
    left: 0;                                /* Align with left edge of logo */
    width: 100px;                           /* Set width of chat box */
    height: 200px;                          /* Set height of chat box */
    background-color: white;                /* Background color of chat box */
    border: 1px solid #ccc;                 /* Border for chat box */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    z-index: 3;                             /* Above other elements */
    padding: 10px;                          /* Padding inside chat box */
}
.chat-box.active {
    display: block;   /* Show chat box when active */
}
.tab-content {
    padding: 20px; 
    margin-top: 10px; 
}
footer {
    width: 100%;                         /* Full width */
    background-color: white;          /* Light background color */
    padding: 5px 0;                     /* Vertical padding for height */
    position: absolute;                   /* Position at the bottom */
    bottom: 0;                           /* Align to the bottom of the page */
    text-align: center;                  /* Center the text */
    font-size: 12px;                     /* Font size */
    color: black;                         /* Text color */
    z-index: 5;
    font-family: 'Zen Kaku Gothic New';
    font-weight: 500;
}