h1 {
    font-family: "Helvetica","Arial",sans-serif; 
    font-weight:bold; 
}
body {
    width: 450px; 
    height: 300px; 
    margin: 0; 
    background-color: #C6D9E6; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://i.pinimg.com/originals/d5/62/93/d562931e7d93e7162d1af2c955d5f283.jpg'); 
    background-size: cover;
    opacity: 0.5; /* 50% transparency */
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2; /* Ensure content is above the overlay */
    padding: 20px;
}
h1 {
    font-size: 48px; 
    text-align: center; 
    color: #00477A; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.tabs {
    display: flex; 
}
.tab {
    padding: 10 px 20px; 
    cursor:pointer; 
    background: white; 
    margin-right: 100px; 
}

.tab.active 
{
    background: #C6D9E6; 
}

.tab-content {
    padding: 20px; 
    margin-top: 10 px; 
}