* {
    box-sizing: border-box;
}
body, html {
    background-image: url(imagesWebsite/backgroundWebsite.png);
    background-size: cover; /* Cover the entire screen */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    overflow: hidden; /* Prevent scrollbars */
}

.container-box {
    display: flex;
    justify-content: center; /* Centers the body horizontally */
    align-items: center;    /* Centers the body vertically */
    height: 80vh;          
}

.box {
    background-color: #00477A; 
    width: 600px;  
    height: 250px;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgba(0.5,0,0,0.5);
    display: inline-block; 
    animation: float 10s infinite; 
    /* ease-in-out */
    z-index: 100; 
}

@keyframes float {
    0%, 100% { 
        transform: translateY(5px); 
    } 
    50% { 
        transform: translateY(15px); 
    } 
}

.zen-kaku-gothic-new-light {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.zen-kaku-gothic-new-black {
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-weight: 900; /* Updated to match the correct weight */
}

h1 {
    margin-top: 0px; 
    text-align: center;
    font-size: 80px;
    color: white;
    margin-bottom: 0px;
}

p {
    text-align: center;
    color: white;
    margin-top: 0;
}

.centered-button {
    display: flex;
    flex-direction: column; /* Stack the text and icon vertically */
    align-items: center;   
    justify-content: center;
    padding: 10px 20px; /* Padding */
    background-color: #C6D9E6; /* Button color */
    color: #00477A; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    width: 100px; 
    transition: width 0.3s ease, padding 0.3s ease;
    height: 30px; 
}

.centered-button:hover {
    width: 150px; /* Increase the width */
    padding: 10px 40px; /* Adjust the padding to elongate evenly */
    background-color: #acc2d0; 
}

.horizontal-center {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center horizontally */
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}

.tab-container {
    width: 100%; /* Full width of the page */
    display: flex; /* Use flexbox */
    justify-content: flex-end; /* Align tabs to the right */
}

.tabs {
    display: flex;
    justify-content: flex-end; /* Align tabs to the right */
    list-style-type: none; /* Removes period */
    margin: 0;
    padding: 0;
    color: white;
    /* background-color: rgba(0, 71, 122, 0.5); */
    background-color:#180B62; 
    border-radius: 20px;
    width: 80px; /* Set a fixed width for the tabs container */
    z-index:100; 
}

.tab {
    cursor: pointer;
    padding: 10px;
}

.split-screen {
    display: flex;
    height: 100vh; 
    margin-top: -50px; 
    margin-bottom: 0px;
    position: relative;
    overflow: hidden; /* Hide overflowing content */
    z-index: 90; 
    opacity: 0; /* Start hidden */
    transform: translateY(-50px); /* Start above the final position */
    animation: fadeInDown 0.8s forwards; /* Apply animation */
}

@keyframes fadeInDown {
    to {
        opacity: 1; /* End fully visible */
        transform: translateY(0); /* End at normal position */
    }
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00477A; /* Container background color */
    background-image: url(imagesWebsite/backgroundWebsite.png);
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; 
     position: relative; 
    
}

.image-container img {
    height: 400px; 
    width: auto;  
    transition: transform 0.5s ease; /* Transition effect for the image */
    border-style: bold;
    border: 5px solid white; 

}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;  
    position: relative;  
    padding: 20px;
    height: 100%; /* Maintain consistent height */
    overflow: hidden; /* Prevent overflow of text */
}

h1, p {
    margin: 0;
    transition: transform 0.8s ease; /* Transition effect for text */
    height: auto; 
}

.image-buttons {
    display: flex;
    flex-direction: column; /* Arrange buttons vertically */
    position: absolute;
    top: 50%; /* Center the buttons vertically */
    left: 48.5%;
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
    z-index: 101; 
}

.button {
    width: 30px; /* Width of the buttons */
    height: 30px; /* Height of the buttons */
    border-radius: 50%; /* Make them circular */
    background-color: #C6D9E6; /* Button color */
    color: #00477A; /* Text color */
    border: none; /* No border */
    margin: 10px 0; /* Space between buttons */
    cursor: pointer; /* Pointer on hover */
    transition: background-color 0.3s; /* Smooth background color transition */
    z-index: 101; 
}

.button:hover {
    background-color: #04558e; /* Change background on hover */
}




/* Words appear between background and main content */
.word {
    position: absolute;
    font-size: 25px;
    font-family: 'Courier New';
    color: white;
    opacity: 0;
    z-index: 10; /* In front of the background, behind the main content */
    animation: fadeInOut 5s ease-in-out forwards;
}





        @keyframes fadeInOut {
            0% {
                opacity: 0;
            }
            20% {
                opacity: 0.65;
            }
            80% {
                opacity: 0.5;
            }
            100% {
                opacity: 0;
            }
        }

      